langchain>=0.1.0
langchain
langchain-chroma
langchain-huggingface
langchain-google-genai
duckdb
streamlit>=1.25.0
tiktoken
pypdf>=3.0.0
sentence-transformers>=2.2.2
langdetect>=1.0.9
deep-translator>=1.11.0 